#portfolio {
  h2 {
    padding: 1rem 0;
  }
  h3 {
    padding: 1rem 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 2rem 0 0;
  }
}

@media screen and (max-width: 1200px) {
  #portfolio {
    #stats {
      grid-column: span 12;
    }
    #assets {
      grid-column: span 12;
    }
  }
}

@media screen and (max-width: 850px) {
  #portfolio {
    #assets {
      grid-column: span 12;
    }
  }
  .percentage-change-row {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  #portfolio {
    .header {
      flex-direction: column;
      text-align: center;
    }
    #assets {
      grid-column: span 12;
    }
  }
  .profit-row {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #portfolio {
    .portfolio-header {
      flex-direction: column;
      text-align: center;
    }
    #assets {
      grid-column: span 12;
    }
  }
  #stats {
    .graph-btn-container {
      button {
        padding: 0.75rem;
      }
    }
  }
  .actions-row {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  #stats {
    .main-asset-value {
      flex-direction: column;
      text-align: center;
    }
  }
}
