.header {
  @include header-flex();
}

@media screen and(max-width: 750px) {
  #add-asset {
    .header {
      flex-direction: column;
      text-align: center;
      & > * {
        margin: 0.5rem;
      }
    }
  }
}
