#search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;

  #search {
    border-radius: $primary-radius;
    border: 1px solid $dark-clr;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}

@media screen and(max-width: 500px) {
  #search-form {
    flex-direction: column;
  }
}
