.quantity-form {
  @include flex-center(column);

  input {
    margin: 1rem;
    padding: 1rem;
    border-radius: $primary-radius;
    border: 1px solid #222;
    font-size: 1.5rem;
    outline: none;
  }
}
