.list-item {
  @include bg-panel();
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  transition: all 0.25s;
  min-height: 65px;

  .img-wrapper {
    max-width: 45px;
    grid-column: span 1;
  }
  .title-wrapper {
    margin-left: 5px;
    grid-column: span 4;
    span {
      font-size: 0.7rem;
    }
  }
  button {
    grid-column: span 1;
  }

  &:hover {
    background: darken(#eee, 5%);
    box-shadow: none;
  }
  span {
    color: $error-clr;
    font-weight: 400;
    font-size: 1rem;
  }
}
.owned-coin {
  cursor: not-allowed;
  background-color: #ddd;
  .title-wrapper {
    grid-column: span 5;
  }
}
