#assets {
  grid-column: span 8;
  margin-left: 0.5rem;
  height: 460px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
@media screen and(max-width: 1200px) {
  #assets {
    height: auto;
  }
}
