#stats {
  grid-column: span 4;
  margin-right: 0.5rem;
  .chart-tab-container {
    display: flex;
    & > * {
      margin: 0.25rem;
    }
  }

  .graph-btn-container {
    display: flex;
    justify-content: space-around;

    .chart-btn {
      //@include primary-btn($gray-gradient, $green-inverse-gradient);
      color: #222;
      margin: 0;
      padding: 1rem;
      &:hover {
        color: #eee;
      }
    }
    .active {
      background: $green-gradient;
      color: #eee;
      &:hover {
        background: $green-inverse-gradient;
      }
    }
  }
}
