#stats {
  grid-column: span 4;
  margin-right: 0.5rem;
  .chart-btn-container {
    display: flex;
    & > * {
      margin: 0.25rem;
    }
  }

  .main-asset-value {
    font-size: 2rem;
    font-weight: 400;
    @include top-bottom-border();
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 400;
    }
  }
  .graph-btn-container {
    display: flex;
    justify-content: space-around;

    .chart-btn {
      //@include primary-btn($gray-gradient, $green-inverse-gradient);
      color: #222;
      margin: 0;
      padding: 1rem;
      &:hover {
        color: #eee;
      }
    }
    .active {
      background: $green-gradient;
      color: #eee;
      &:hover {
        background: $green-inverse-gradient;
      }
    }
  }
}
