#stats {
  grid-column: span 4;
  margin-right: 0.5rem;
  .chart-tab-container {
    display: flex;
    & > * {
      margin: 0.25rem;
    }
  }
}
.stats-error-wrapper {
  min-height: 300px;
  grid-column: span 4;
  @include flex-center(row);
}
