//$blue-gradient: linear-gradient(#1489f3, #2cadfb);
//$orange-gradient: linear-gradient(#fa5715, #f6d022);
@mixin flex-center($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}
@mixin top-bottom-border() {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@mixin main-page-setup() {
  position: relative;
  z-index: 1;
  width: 90vw;
  max-height: 95vh;
  margin: 2.5vh auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

@mixin reset-btn() {
  border: none;
  background: transparent;
  outline: none;
}

@mixin list-item() {
  background-color: #eee;
  //todo
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);
  //align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  height: fit-content;
  h2 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    grid-column: span 4;

    span {
      font-size: 1rem;
      text-transform: uppercase;
      font-style: italic;
    }
  }
}

@mixin header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
