$light-clr: #fff;
$dark-clr: #222;
$muted-clr: #999;
$light-bg: #eee;
$green-gradient: linear-gradient(to bottom right, #00b6e3, #00e4ac);
$green-inverse-gradient: linear-gradient(to top left, #00b6e3, #00e4ac);
$gray-gradient: linear-gradient(to bottom right, #dce2e2, #f3f0f0);
$gray-inverse-gradient: linear-gradient(to top left, #dce2e2, #f3f0f0);
$blue-color: #1489f3;
$error-color: #d84f4f;
$success-color: #b0db7d;
$hover: #fa5715;
$primary-radius: 20px;
