#add-asset {
  @include main-page-setup();
  width: fit-content;
  margin: 1rem;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .header {
    @include header-flex();
    .primary-btn {
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
      }
    }
  }
}

@media screen and(max-width: 750px) {
  #add-asset {
    .header {
      flex-direction: column;
      text-align: center;
    }
  }
}
